
@{
    ViewBag.Title = "Completed";
}
    <div class="container mt-4">
        <h2 style="color:firebrick">Siparişiniz Alındı</h2>
        <hr />
        <p>Siparişiniz en kısa zamanda kargoya verilecektir....</p>
    </div>
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />



