@using E_ticaret.MvcWebUi.Models
@model  IEnumerable<ProductModel>

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card ">
                    <a href="/Home/Details/@item.Id">  <img style="height:250px;" src="~/Upload/@item.Image" class="card-img-top" alt="...">   </a>      
                    <div class="card-body">
                        <h5 class="card-title"><a href="/Home/Details/@item.Id"> @item.Name</a></h5>
                        <p class="card-text ">@item.Description</p>
                    </div>
                    <div class="card-footer ">
                        <small class=" price">  <i class="fa fa-try" aria-hidden="true"></i> @item.Price</small>
                        <a href="/Home/Details/@item.Id" class="btn btn-success btn-md float-right"><i class="fa fa-angle-double-right"></i>Ürünü İncele</a>
                    </div>
                   
                </div><br />
            </div>
        }

    </div>



